@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Roboto-Thin;
    src: url('/fonts/Roboto-Thin.ttf');
    font-display: swap;
}

@font-face {
    font-family: Roboto-Medium;
    src: url('/fonts/Roboto-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/fonts/Roboto-Bold.ttf');
    font-display: swap;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button {
    border: 1px solid;
}

header {
    background-image: url('/images/hero.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-content {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    background-color: rgba(2,2,2,0.6); 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.header-content---inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #fff;
}

.reserve-block p {
    color: #323232;
}

.reserve-rating {
    display: inline;
}

a.tag {
    color: #b2b8c3;
    display: inline;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 5s linear;
}

.form-control {
    padding: .8rem 1.2rem;
    width: 100%;
}

.highlight {
    background-color: #e9b947;
    padding: 3px;
}

.place-wrapper {
    padding-bottom: 100px;
}

.place-header {
    width: 100%;
    text-align: center;
    padding: 10px 0 10px;
}

.place-header-content {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
}

.place-header-content .title-header {
    padding: 0;
}

.place-header-content .title-header h1 {
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 0 10px;
}

.place-header-content .title-header .place-address {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.open-map {
    padding-bottom: 10px;
}
.open-map a {
    font-size: 14px;
    color: #5cb85c;
}

.place-header-content .title-header .place-tags {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.place-header-content hr {
    margin: 0;
}

.place-header-content .title-header .tag {
    color: #C32022;
}

.place-rating {
    padding-top: 10px;
    /* padding-bottom: 10px; */
}

.place-rating .fa-star {
    color: #ffc700;
}

.review-actions {
    padding-top: 10px;
    padding-bottom: 10px;
}

.place-phones, .place-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.share-url {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.share-url a {
    padding-left: 7px;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter {
    color: #1DA1F2;
}

.check-mark {
    color: #5cb85c;
}

.title-header .place-delivery, .title-header .place-phones {
    padding-bottom: 10px;
}

.delivery-loc {
    padding-left: 10px;
}

.place-phones > a {
    padding: 0 5px;
    font-size: 17px;
    color: #222 !important;
    display: flex;
    align-items: center;
}

.rate-place {
    border-radius: 20px;
}

.form-control.filter-drinks {
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    outline: none;
}

.place-menu {
    width: 80%;
    margin: 0 auto;
}

.search-drinks-menu {
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background: #fff;
    border-radius: 0%;
    border: none;
    border-top: 1px solid #ccc;
    /* height: inherit; */
    top: 0;
    z-index: 1000;
}

.form-control.filter-drinks {
    height: 40px;
    padding: 5px 15px;
}

@media (max-width:1200px) {
    .place-header-content {
        width: 70%;
    }

    .place-menu {
        width: 90%;
    }

}

@media (max-width:767px) {
    .open-comments {
        display: block;
        padding-top: 10px;
    }

}

@media (max-width:520px) {
    .title-header h1 {
        font-size: 1.8rem;
    }

    .place-map {
        width: 100%;
        max-height: 250px;
        min-height: 170px;
    }

    .place-phones > a {
        font-size: 1rem;
    }

}

.search-filters {
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 20px;
}

.search-filters::-webkit-scrollbar {
    display: none;
}

.search-filters button {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.search-filters button.active, .search-filters button:hover {
    background-color: #eee;
    color: #222;
}


.place-menu-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    grid-gap: 20px;
    margin-top: 60px;
}

.place-menu-item-container {
    display: flex; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 5px;
}

.place-menu-item-container .food-img img {
    width: 120px; 
    height: 120px; 
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.place-menu-item {
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 10px;
}

.place-menu-item .place-menu-name {

    grid-column-start: 1;
    grid-column-end: 3;
}

.place-menu-item .place-menu-name a {
    font-family: 'Gilroy Semi Bold', sans-serif;
    font-size: 16px;
    color: #222;
}

.place-menu-item .food-category {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 700;
    color: var(--yellow);
    font-size: 14px;
}

.place-menu-rate .fa-star {
    color: #ffc700;
}

.place-menu-item .place-menu-description {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 5px 0;
    word-wrap: break-word;
    color: #808080;
    font-size: 14px;
}

.place-menu-item .place-menu-price {
    grid-column-start: 3;
    grid-column-end: -1;
    text-align: right;
}

.place-menu-item .rate-link {
    grid-column-start: 3;
    grid-column-end: -1;
    text-align: right;
}

.place-menu-item .rate-link a {
    color: #C32022;
}

.place-menu-item .rate-link a:hover {
    color: #C32022;
    text-decoration: none;
}

@media (max-width:400px) {
    .place-menu-items {
        margin-top: 0;
    }

    .place-menu-item-container .food-img img {
        width: 100px; 
        height: 100px; 
        border-radius: 5px;
    }

}

@media (min-width: 500px) {
    .place-menu-item-container {
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    }
}

a.rate-food {
    font-size: 1em;
}

.rate {
    float: none;
    height: 46px;
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: row-reverse;
    -webkit-justify-content: start;
    -moz-justify-content: start;
    -ms-justify-content: start;
    justify-content: start;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: none;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: "★ ";
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
}


#img-source {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 15px;
}

#img-source img {
  width: 100px;
  padding-right: 5px;
}

/*@media (max-width: )*/
@media (max-width:980px) {
    .place-header-content {
        width: 80%;
    }

    .place-menu-items {
        grid-template-columns: repeat(2, minmax(45%, 1fr));
    }

}

@media (max-width:580px) {
    .place-header-content {
        width: 90%;
    }

    .place-menu-items {
        grid-template-columns: repeat(1, minmax(90%, 1fr));
    }

}

@media (max-width:500px) {
    .place-header-content {
        width: 100%;
    }

    .place-menu {
        width: 100%;
    }

    .place-menu-items {
        grid-template-columns: 100%;
        grid-gap: 0;
        margin-top: 0;
    }

    .place-menu-item-container {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        border-top: 0;
    }

}

.vex-overlay {
    background: rgba(2, 2, 2, 0.8);    /*opacity: 0.5*/
}

.vex {
    width: 100%;    /*height: 100%;*/
    display: flex;    /*background: #ccc;*/
}

.vex {
    padding-top: 0;
    padding-bottom: 0;
}

.vex-content {
    height: min-content;
    margin: auto;    /*max-width: 400px;*/
    display: flex;
    padding: 30px;
    background: #fff;
    overflow-y: auto;
    padding: 25px 15px;
    border-radius: 7px;
    position: relative;
}

@media (min-width:767px) {
    .vex {
        bottom: 10% !important;
        padding-top: 0;
    }

    .vex-content {
        width: 500px;
    }

}

@media (max-width:767px) {
    .vex {

        /* width: 100%; */
        left: 0;
        right: 0;
        top: 0;
    }

    .empty-wrapper {
        display: flex;
    }

}

.vex-content {
    min-height: 450px;
    min-width: 300px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.nav-tabs .nav-item {
    width: 50%;
    text-align: center;
}

.nav-link {
    transition: 0.3s;
}

.rating-form {
    margin: auto;
}

.rating-question {
    margin-bottom: 10px;
}

.rating-stars {
    margin-bottom: 0;
}

.rating-comment textarea {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.upload-option {
    margin-bottom: 20px;
}

.submit-rating {
    margin-top: 10px;
}

@media (max-width:600px) {
    .rating-cover {
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 15px;
    }

}

.rating-list {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 85%;
    grid-row-gap: 20px;
}

.rating-header hr {
    margin: 10px 0;
}

.reviews {

    /*height: 100%;*/
    width: 100%;
    overflow-y: auto;
    padding-bottom: 15px;
}

.reviews-rating {
    width: 100%;
}

.review-profile {
    display: flex;
    align-items: flex-start;
}

.review-dp {
    margin-right: 12px;
}

.review-dp img {
    width: 50px;
    border-radius: 50%;
}

.review-text {
    flex: 1;
}

.input-group-append > .form-control.food-price, .input-group .form-control .food-name {
    width: 100%;
}

.place-menu-name.food-name {
    /* display: flex;  */
}

.like-food {
    margin-left: 10px;
    color: #ccc;
}

.like-food:hover {
    color: #C32022;
}

.social-icon {
    text-align: center;
}

#loading, .load-map {
    background: rgba(2, 2, 2, 0.4);
    height: 100vh;
    margin: 0 !important;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 9999;
}

.loader, .loading {
    border: 8px solid #eee;
    border-radius: 50%;
    border-top: 8px solid #222;
    width: 60px;
    height: 60px;
    margin: auto;    /*animation: spin 1s linear infinite;*/
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/**
 Add new food
*/
.add-new-container {

    /*padding: 20px;*/
    border-radius: 4px;
    border: 1px solid #222;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.add-new {
    width: 100%;
    height: 100%;
    display: flex;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.add-new .add-icon {
    margin: auto;
}

@media (max-width:520px) {
    .add-icon, .add-icon h4 {
        font-size: 24px;
    }

    .form-control.filter-food {
        padding: 0.4rem 0.6rem;
    }

}

@media (max-width:400px) {
    .add-new-container {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        border-top: 0;
    }

    .place-menu-item .place-menu-name a {
        font-size: 14px;
    }

    .place-menu-item .place-menu-price {
        font-size: 14px;
    }

}

.add-food-wrapper {
    width: 100%;
}

.new-food {
    margin-top: 10px;
}

.new-food input {
    height: 42px;
    font-size: 16px;
    width: 100%;
}

.review-food {
    margin-top: 25px;
}

.review-food h6 {
    margin-bottom: 0;
}

.input-group > .food-name {
    flex: 0 0 60%;
}

.input-group > .input-group-append {
    flex: 0 0 40%;
}

@media (max-width:400px) {
    .edit-form .input-group {
        display: block;
    }

    .new-food > input.form-control.food-name {
        width: 100%;
    }

}

.submit-rating {
    display: flex;
    flex-wrap: wrap;
}

.submit-rating .button-primary {
    margin-right: 10px;
}

.clear-text {
    position: absolute;
    top: 20%;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #C32022;
    display: none;
}


/* reviews feed */
@media (max-width: 560px) {

    .review-main .review-text {
        word-break: break-word;
    }
}

.review-main .review-image {
    width: 100%;
    min-height: 200px;
    background: #e8e8e8;
}

.review-main .review-image img {
    width: 100%;
}

.review-main p {
    padding: 0;
    margin: 0;
}

.review-main .reviewer-name {
    display: block;
    text-align: left;
}

.review-main .right-side {
    padding: 10px;
}

.review-main .review {
    width: 30%;
    margin-left: 20px;
}

.review-main {
    padding: 10px 0;
    border-radius: 15px;
    background: #fff;
    /*display: grid;*/
    /*grid-template-rows: 150px 150px */
    /* margin-top: 20px; */
}

.review-main .review-header {
    display: flex;
    width: 100%;
    align-items: center;
    /* margin-bottom: 10px; */
    /*height: 70px;*/
}

.review-main .profile-dp {
    /* flex: 1; */
    padding-right: 15px;
}

.review-main .profile-dp img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.review-main .profile-info {
    flex: 4;
}

.review-main .profile-info p {
    font-size: 80%;
}

.review-main .review-image {
    width: 100%;
    height: 250px;
    /* background-image: url('bg.jpg'); */
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin-top: 10px;
}

.review-main .review-footer {
    display: flex;
    justify-content: space-between;
}

.review-main .left-side, .review-main .right-side {
    padding: 10px 0;
}

.review-main .review-footer a {
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
}

.review-main .review-footer .left-side a:first-of-type {
    padding-right: 10px;
}